
.before-title {
    padding-top: 50px;
}
.title {
    padding: 50px;
}
.services--about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px 30px;
    margin: 40px 0;
}
